@charset 'UTF-8';

/*重写或者补充框架样式*/

.btn {
    padding: 4px 12px;
}

.btn-primary,
.btn-default {
    background-color: #FB7762 !important;
    border-color: #ea7865 !important;
    color: #fff;
    &:hover {
        background-color: #FB7762 !important;
        border-color: #ea7865 !important;
        color: #fff;
    }
}

.table-form-horizontal td .control-label-patch {
    width: 100px;
    margin-left: -110px;
}

.table-form-horizontal-patch>tbody>tr>td {
    vertical-align: middle;
    border-top: 0;
}

.panel-transparent>.panel-heading {
    border-bottom: 1px solid #ddd;
}

.border-r {
    border-right: 1px solid #ddd;
}

.border-l {
    border-left: 1px solid #ddd;
}

.panel-footer-patch {
    text-align: left;
    border-top: none;
    background-color: #fff;
}

.panel-toolbar-patch {
    border: 1px solid #ddd;
}

.datatable-content-patch {
    overflow-y: auto;
}

.form-control {
    border-radius: 4px;
}

.form-group-small-margin .form-group {
    margin-bottom: 5px !important;
}

.datatable-header {
    thead {
        >tr {
            >th.sort {
                &:after {
                    content: '*';
                }
            }
        }
    }
}

.row-container-left,
.row-container-right {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
}

.row-container-small-left {
    width: 30%;
    float: left;
    height: 100%;
    position: relative;
}

.row-container-small-right {
    width: 70%;
    float: left;
    height: 100%;
    position: relative;
}

.list-group-patch {
    .list-group-item-patch {
        padding: 9.5px 15px;
        font-weight: 700;
        font-size: 1.1em;
        border-top: 0;
    }
    .list-group-item {
        border-left: 0;
        border-right: 0;
    }
}


/*行内文本和复选框*/

.inline-text {
    position: relative;
    width: 80%;
}

.inline-checkbox {
    position: absolute;
    top: 30px;
    right: 20px;
    margin: 0;
    margin-left: 1%;
}


/*前端公共库样式补充*/

.alertCls {
    line-height: 60px;
    text-align: center;
    i {
        font-size: 30px;
        position: relative;
        top: 5px;
    }
    span {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 1px;
        padding-left: 20px;
    }
}

.toastCls {
    padding-left: 12px;
    span {
        padding: 0 10px;
    }
}

.toastCls.toastCls-success {
    color: green;
}

.pop-content.toast {
    .content {
        font-size: 16px;
        box-sizing: content-box;
        color: red;
        background: #fff;
    }
}

.alertCls-success {
    color: green;
    @extend .alertCls;
}

.alertCls-error {
    color: red;
    @extend .alertCls;
}

.confirmCls {
    padding: 10px 0 10px 20px;
}

.pop.pop-more-btn .title {
    text-align: left;
}

.error-tips {
    margin-left: 0;
}


/*按钮*/

.btn-basic {
    padding: 6px 20px;
    border-radius: 4px;
    background-color: #FB7762;
    color: white;
    cursor: pointer;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.btn-basic-default {
    @extend .btn-basic;
}

.btn-basic-large {
    @extend .btn-basic;
    display: inline-block;
}


/*公共样式*/

.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45) url('./../img/loading.gif') no-repeat center;
    z-index: 9999;
}

.td-a {
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.w-87 {
    width: 87%;
}

.check {
    padding: 5px 10px;
    color: #555;
    border: 1px solid #ccc;
    background: #eee;
}

.bg-white {
    background-color: #fff !important;
}

.red {
    color: red;
}

.border-left-0 {
    border-left: 0;
}

.t6 {
    top: 6px;
}

.relative {
    position: relative;
}

.overflow-h {
    overflow: hidden !important;
}

.overflow-y-h {
    overflow-y: hidden !important;
}

.overflow-x-h {
    overflow-x: hidden !important;
}

.w-100 {
    width: 100px !important;
}

.w-120 {
    width: 120px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px !important;
}

.w-400 {
    width: 400px;
}

.w-500 {
    width: 500px;
}

.w-600 {
    width: 600px;
}

.w-700 {
    width: 700px;
}

.w-auto {
    width: auto !important;
}

.h-300 {
    height: 300px;
}

.h-240 {
    height: 240px;
}

.min-w80 {
    min-width: 80px;
}

.no-border {
    border: 0 !important;
}

.inline-block {
    display: inline-block;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.m15 {
    margin: 15px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.user-remind {
    color: red;
    font-weight: 700;
}

.user-remind-add {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.pointer {
    cursor: pointer;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pt4 {
    padding-top: 4px;
}

.pl10 {
    padding-left: 10px;
}

.pl40 {
    padding-left: 40px !important;
}

.mt05-em {
    margin-top: .5em;
}

.pl0 {
    padding-left: 0 !important;
}

.pl20 {
    padding-left: 20px !important;
}

.w60 {
    width: 60%;
}

.bt0 {
    border-top: none;
}

.btn-operator {
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    cursor: pointer;
    color: #333;
}

.btn-operator:hover {
    color: #666;
}

.td-operator {
    padding: 0 5px 0 0;
    @extend .btn-operator;
}

.align-center {
    text-align: center;
}

.panel-toolbar-title {
    font-size: inherit;
    line-height: 27px;
    height: 27px;
}

.control-label-text-basic {
    font-weight: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.control-label-text {
    @extend .control-label-text-basic;
    height: 32px;
    line-height: 32px;
}

.control-label-text-bootstrap {
    @extend .control-label-text-basic;
    padding-top: 4px;
}

label.form-control.textarea-label {
    min-height: 30px;
    height: auto;
}

label.form-control {
    line-height: 22px;
}

.panel-title-lineDetail {
    display: inline-block;
    padding: 0 10px;
}

dl {
    dt {
        font-weight: initial;
    }
    dd {
        padding: 5px 12px;
    }
}


/*ul-select样式*/

.ul-select {
    font-size: 14px;
    position: absolute;
    z-index: 3;
    min-width: 170px;
    min-height: 200px;
    margin: 2px 0 5px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    li {
        a {
            font-weight: 400;
            line-height: 1.42857143;
            display: block;
            clear: both;
            padding: 3px 20px;
            white-space: nowrap;
            color: #333;
            &:hover {
                text-decoration: none;
                color: #262626;
                background-color: #f5f5f5;
            }
        }
        //未找到数据
        span {
            position: absolute;
            top: 50px;
            left: 20px;
            display: block;
            color: #a94442;
        }
    }
}


/*map style*/

.mapContainer {
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    border: 1px solid #c5d0dc;
}

.mapCarItem {
    height: 20px;
    line-height: 20px;
}

.BMapLabel {
    max-width: inherit !important;
}


/*无权限css*/

.authorize {
    background: #fdfdfd url('./../img/authorize.png') no-repeat center center;
    height: 100%;
    width: 100%;
}