/* header style*/

.main-header {
    padding: 0px 10px;
    background-color: #2d3741;
    color: #fff;
    cursor: default;
    .main-title {
        margin: 5px;
        letter-spacing: 2px;
        height: 39px;
        line-height: 39px;
        padding-left: 55px;
        font-size: 17px;
        background: url('./../img/logo.png') no-repeat;
    }
    .user-info {
        height: 50px;
        line-height: 50px;
        .user-name {
            padding: 0 10px;
            display: inline-block;
        }
        .user-logout {
            cursor: pointer;
            width: 100px;
            height: 30px;
            display: inline-block;
            line-height: 30px;
            position: relative;
            background: url('./../img/logout.png') no-repeat 10% 7px;
            border: 1px solid #000;
            text-align: center;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


/*content*/

@media (min-width: 768px) {
    div.admin .sidebar-content {
        position: absolute;
        z-index: 999;
        top: 50px !important;
        bottom: 0;
        left: 0;
        display: block;
        padding: 0;
        border-right: 1px solid #ccc;
        background-color: #f7f7f7;
    }
}

div.admin {
    .main-fixed {
        position: absolute;
        top: 50px !important;
        bottom: 0;
        padding-right: 0;
        padding-left: 220px !important;
        background: #fff !important;
    }
}


/*sidebar style patch*/

.admin.admin-min .sidebar-content {
    width: 220px;
    padding-top: 20px;
}

.menu {
    width: 220px;
    .menu-head {
        height: 47px;
        line-height: 47px;
        padding-left: 10px;
        font-size: 14px;
        color: #525252;
        cursor: pointer;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #F1F1F1;
        position: relative;
        margin: 0px;
        font-weight: bold;
        background: #f1f1f1 url('./../img/pro_left.png') center right no-repeat;
    }
    .current {
        background: #f1f1f1 url('./../img/pro_down.png') center right no-repeat;
    }
    .menu-body {
        line-height: 38px;
        border-left: 1px solid #e1e1e1;
        background: #fff;
        border-right: 1px solid #e1e1e1;
        a {
            display: block;
            height: 38px;
            line-height: 38px;
            padding-left: 38px;
            color: #777777;
            background: #fff;
            text-decoration: none;
            border-bottom: 1px solid #e1e1e1;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.menu-icon {
    display: inline-block;
    width: 20px;
    height: 24px;
}

.icon-position {
    background: url('./../img/position2.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-position-active {
    background: url('./../img/position1.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-car {
    background: url('./../img/truckicon2.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-car-active {
    background: url('./../img/truckicon1.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-org {
    background: url('./../img/orgicon2.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-org-active {
    background: url('./../img/orgicon1.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-sys {
    background: url('./../img/infoicon2.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-sys-active {
    background: url('./../img/infoicon1.png') no-repeat;
    position: relative;
    top: 8px;
}

.icon-right {
    background: #f7f7f7 url('./../img/open2.png') no-repeat 90% 13.5px;
}

.icon-down-active {
    background: #f7f7f7 url('./../img/open3.png') no-repeat 90% 13.5px;
}