/* header style*/

.main-header {
    padding: 0px 10px;
    background-color: #2d3741;
    color: #fff;
    cursor: default;
    .main-title {
        margin: 5px;
        letter-spacing: 2px;
        height: 39px;
        line-height: 39px;
        padding-left: 55px;
        font-size: 17px;
        background: url('./../img/logo.png') no-repeat;
    }
    .user-info {
        height: 50px;
        line-height: 50px;
        .user-name {
            padding: 0 10px;
            display: inline-block;
        }
        .user-logout {
            cursor: pointer;
            width: 100px;
            height: 30px;
            display: inline-block;
            line-height: 30px;
            position: relative;
            background: url('./../img/logout.png') no-repeat 10% 7px;
            border: 1px solid #000;
            text-align: center;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


/*content*/

div.admin {
    .main-fixed {
        position: absolute;
        top: 50px !important;
        bottom: 0;
        padding-right: 0;
        padding-left: 52px;
        background: #fff;
    }
}


/*sidebar style patch*/

.admin.admin-min .sidebar-content {
    width: 52px;
    padding-top: 20px;
    position: absolute;
    z-index: 999;
    top: 50px !important;
    bottom: 0;
    left: 0;
    padding: 0;
    border-right: 1px solid #ccc;
    background-color: #f7f7f7;
}

.admin.admin-min .main-fixed {
    padding-left: 52px;
}


/* menu */

.accordion {
    list-style-type: none;
    width: 100%;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #777;
        font-size: 13px;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        >span {
            position: relative;
            top: 3px;
            left: 3px;
        }
        .menu-icon-expand {
            display: inline-block;
            width: 29px;
            height: 29px;
        }
    }
    li {
        &:last-child .link {
            border-bottom: 0;
        }
        i {
            position: absolute;
            top: 12px;
            left: 12px;
            font-size: 18px;
            color: #595959;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        i.fa-chevron-down {
            right: 15px;
            top: 21px;
            left: auto;
            font-size: 16px;
        }
        &.open i {
            color: #222;
        }
        &.open .link {
            color: #222;
        }
        &.open i.fa-chevron-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .submenu {
        display: none;
        background: #fff;
        font-size: 14px;
        li {
            border-bottom: 1px solid #ccc;
        }
        a {
            display: block;
            text-decoration: none;
            color: #464646;
            padding: 12px;
            padding-left: 42px;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            &:hover:not(.active) {
                background: #eeeeee;
                color: #464646;
            }
            &.active {
                color: #222;
                font-weight: 700;
            }
        }
    }
}

.sidebar.sidebar-min {
    width: 50px;
    .nav-list>li {
        >.submenu {
            left: 52px;
            margin-top: -10px;
            border-left-width: 0;
        }
        &.active {
            >a {
                background: #f5f7fa
            }
        }
        &:hover {
            a>.menu-icon-collapse {
                background-color: #eee;
                border: 1px solid #ccc;
                border-right-width: 0;
                border-left-width: 0;
            }
        }
        >a {
            >.menu-text {
                font-size: 16px;
                line-height: 40px;
                left: 52px;
                height: 40px;
            }
            >.menu-icon-collapse {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center;
                border-width: 1px 0;
                border-style: solid;
                border-color: #f9fafc;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
    .nav-list>li {
        margin: 15px 0;
        .submenu>li>a {
            font-size: 14px;
        }
        >a {
            line-height: 50px;
            width: 51px;
            height: 50px;
        }
    }
    .nav-list {
        >li {
            .submenu>li {
                &:before {
                    top: 19.5px;
                }
                >a {
                    padding: 10px;
                    padding-left: 37px;
                    &:before {
                        top: 10px;
                    }
                }
            }
        }
    }
}

.zoomIcon {
    float: left;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 10px;
}

.icon-position {
    background: url('./../img/position1.png') no-repeat;
}

.icon-position-active {
    background: url('./../img/position1.png') no-repeat;
}

.icon-car {
    background: url('./../img/truckicon1.png') no-repeat;
}

.icon-car-active {
    background: url('./../img/truckicon1.png') no-repeat;
}

.icon-org {
    background: url('./../img/orgicon1.png') no-repeat;
}

.icon-org-active {
    background: url('./../img/orgicon1.png') no-repeat;
}

.icon-sys {
    background: url('./../img/infoicon1.png') no-repeat;
}

.icon-sys-active {
    background: url('./../img/infoicon1.png') no-repeat;
}

.icon-right {
    background: #f7f7f7 url('./../img/open2.png') no-repeat 90% 13.5px;
}

.icon-down-active {
    background: #f7f7f7 url('./../img/open3.png') no-repeat 90% 13.5px;
}